﻿@model IEnumerable<NoteModel>

@{
    ViewData["Title"] = "My Notes";
}


<div class="index">
    @if (Model.Any())
    {
        <div class="panel panel-default index__header"  align="center">
            <h3 class="panel-body">
                Your Notes
            </h3>
        </div>

        @foreach (NoteModel note in Model.Reverse())
        {
            <div class="panel panel-default" align="center">
                <a asp-action="NoteDetail" asp-route-id="@note.Id" class="index__list-item-link   ">
                    <div class="panel-body"  >
                        @note.Subject
                    </div>
                </a>
            </div>

        }
    }
    else
    {

        <div class="panel panel-default index__empty-list">
            <h3 class="panel-body">
                You don't have any notes. Click on the button below to create a note.
            </h3>
        </div>
    }

    <div class="index__new-note-button-wrapper">
        <a asp-action="NoteEditor" class="index__new-note-button">New Note</a>
    </div>
</div>

